html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Lato, sans-serif;
  width: 100%;
}

a{
  color: inherit;
}

a:hover{
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.events-text{
  line-height: 1.6;
  font-size: 1.2em;
}
.line-height-extended{
  line-height: 1.6;
  font-size: 1.1em;
}

/* NAVBAR */
.navbar{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.096), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(16, 212, 230);
  font-family: 'Lato', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  transition: 0.4s ease;
  
}
.navbar a{
  text-decoration: none;
  display: inline-block !important; /* FIXES 100% UNDERLINE BUG ON COLLAPSE ANCHOR TAGS */
}


.nav-link{
  color: black !important;
  font-weight: bold;
  font-size: .85em;
}

.hover-effect::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width .3s;
}

.hover-effect:hover::after{
  width: 100%;
  transition: width .3s;
}
nav.navbar.transparent{
  background-color: rgba(0,0,0,0);
}



.hero-h1{
  position: absolute;
  left: 0px;
  top: 35%;
  right: 0px;
  display: block;
  margin: 0px auto;
  font-size: 62px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.hero2-h1{
  position: absolute;
  left: 0px;
  top: 20%;
  right: 0px;
  display: block;
  margin: 0px auto;
  font-size: 80px;
  text-align: center;
}

#particles-js{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: block;
  /* height: 100%; */
}




#team h3{
color: #019494;
margin-bottom: 2%;
}

#about{
padding-top: 2%;
padding-bottom: 4%;

} 

.landing{
  background-color:rgba(0, 234, 255, 0.99);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%235316cc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%236a14c6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a4003d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%237d11bf' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239d0056' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%238e0eb8' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23970069' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239d0ab1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f007a' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
text-align: center;
}

.landing2{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  text-align: center;
}
.shadow{
  position:absolute;
  max-width:45%;
  max-height:45%;
  top:50%;
  left:50%;
  overflow:visible;
}
.logo-main{
  position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-90%;
    width: 100%;
    height: auto;
    margin-right: 0;
}


#about img{
width: 286px;
height: 208px;
}
#events img{ /* flyers */
width: 350px;
height: 456px;
}

#events{
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  background-color: #9783b8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%239783b8'/%3E%3Cstop offset='1' stop-color='%231fc8db'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%232ae8e5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232ae8e5' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%232ae8e5' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232ae8e5' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}
.box-shadow{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.096), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}

.workshop-title{
  color: rgb(38,57,68);
  text-decoration: underline;
}

.divider{
  border-bottom: solid;
  margin-right: 3%;
  margin-bottom: 3%;
}

.section-header{
  color: #132a41;
  font-size: 22px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 0.8px;
  display: inline-block;
  border-bottom: 6px solid #15a3a3;
  padding-bottom: 12px;
  margin-bottom: 3%;
}

.section-header-2{
  color: #132a41;
  font-size: 22px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 0.8px;
  display: inline-block;
  border-bottom: 6px solid rgb(255, 0, 0);
  padding-bottom: 12px;
  margin-bottom: 3%;
}

.significant-link{
  color: #ee6978;
  text-decoration: none !important;
}
.significant-link:hover{
  color: #ee6978;
  font-weight: normal;
}


#contact{
  margin-bottom: 6%;
  margin-top: 3%;
  
}


.workshop-row{
margin-bottom: 10%;
}

#team img{
width: 150px;
height: 150px;
}

#team{
  
}

button{
border-radius: 15px !important;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.096), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}

#upcoming img{
width: 350px;
height: 455px;
}

#upcoming .row{
margin-bottom: 3%;
padding-bottom: 3%;
}

#past img{
width: 350px;
height: 455px;
}

#past .row{
padding-bottom: 3%;
}

/* footer */
.site-footer
{
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.instagram:hover
{
background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)
}

.social-icons a.youtube:hover
{
background-color:#FF0000
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.discord:hover
{
background-color:#1949b1
}

@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}

/* Modal & material-ui container*/
